page-photo {
    background: rgba(255, 255, 255, 0.8)
}

.photoNavbar {
    text-align: center;
}

#back, #title, #forward {
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3%;
}

ion-slides {
    height: 100%;
    // background-color: white;
}

.slidecard {
    border-style: solid;
    border-width: 2px;
    border-color: #488aff;
    border-radius: 11px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4); 
}

#remove {
    position: absolute;
    right: 1%;
    top: 9%;
    border-radius: 500px;
}
